* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  background: linear-gradient(138deg, rgb(255, 255, 255), rgb(242, 161, 189));
  animation: bg-color 10s infinite linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.contant {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number__top {
  width: 300px;
  transform: translateY(83px);
  position: relative;
  z-index: 100;
}
.numder__img-top {
  animation: rotate-r 70s infinite linear;
}

.numder__img-btm {
  animation: rotate-r 70s infinite linear;
}
.number__btm {
  width: 400px;
}
.text {
  font-family: Comfortaa, sans-serif;
  color: rgb(223, 79, 108);
}
.text__title {
  font-size: 100px;
  font-family: Comfortaa, sans-serif;
  color: rgb(223, 79, 108);
  animation: zoom-text 5s 2s backwards;
}

.text__subtitle-main {
  font-size: 30px;
  animation: zoom-text 5s 3s backwards;
}

@keyframes rotate-r {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-l {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes zoom-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
